@model List<BreakingBad>

@{
	ViewData["Title"] = "Breaking Bad - API";
}

<div>
	<div>
		<h1>@ViewData["Title"]</h1>
	</div>
	<div>
		<form method="post">
			<h6>Skriv et tal for at se en kommentar fra Breaking Bad eller bare klik for at se et tilfældigt et</h6>
			<input type="text" name="amount" />
			<button type="submit" class="btn-primary">Søg Quote</button>
		</form>
		@if (Model != null)
		{
			foreach (var item in Model)
			{
				<table>
					<thead>
						<tr>
							<th>Quote</th>
							<th>Author</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>@item.Quote</td>
							<td>@item.Author</td>
						</tr>
					</tbody>
				</table>
				<br />
			}
		}
	</div>
</div>