@{
	ViewData["Title"] = "Om os";
}

<h1>@ViewData["Title"]</h1>

<div>
	<p>Dette er en simpel ASP.NET Core MVC applikation lavet for at demonstrere CRUD operationer (Create, Read, Update, Delete) på opgaver.</p>
	<p>Formålet med denne applikation er at give brugerne mulighed for at oprette, se, redigere og slette opgaver relateret til deres studier.</p>
	<p>Samt at lave / se en masse sjove ting man kan via ASP.net</p>
	<div class="text-center">
		<img src="/public/icones_elite.png"/>
	</div>
</div>