@{
    ViewData["Title"] = "Forsiden";
}

<div>
    <h1>@ViewData["Title"]</h1>

    <p>Velkommen til forsiden - browse til opgaver for at se en liste af opgaver vi tidligere har arbejdet med på datamatiker uddanelsen</p>
</div>
